* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Hiragino Sans, Segoe UI, Roboto, Ubuntu, Helvetica Neue, Arial,
    sans-serif;
}

:root {
  --dark-blue: #12232e;
  --light-blue: #007cc7;
  --darker-blue: #203647;
  --lighter-blue: #4da8da;
  --white: #eefbfb;
}
